{% extends 'base.html' %}

{% block base %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">خریدار</th>
            <th scope="col">تاریخ</th>
            <th scope="col">مبلغ ریال</th>
            <th scope="col">تخفیف ریال</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>2/2/2022</td>
            <td>230000</td>
            <td>234000</td>
            <td>
                <a href="#">234000</a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}